{% trans_default_domain 'app' %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}Symfotube</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-sm-3">
                    {% block menu %}{% include 'AppBundle::menu.html.twig' %}{% endblock %}
                </nav>

                <div class="col-sm-9">
                    <header>
                        {% block header %}{% include 'AppBundle::header.html.twig' %}{% endblock %}
                    </header>

                    <section class="row">
                        {% block content %}Content{% endblock %}
                    </section>
                </div>
            </div>


            <footer class="row">
                <div class="col-lg-12">
                    {% block footer %}Footer{% endblock %}
                </div>
            </footer>
        </div>

        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
