<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Symfotube{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/base.css') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
