{% trans_default_domain 'app' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% endblock %}Symfotube</title>

        <link rel="icon" type="image/x-icon" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
