{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
    <label for="username" class="sr-only">{{ 'resetting.request.username'|trans }}</label>
    <input type="text" id="username" name="username" class="form-control mb-3" placeholder="{{ 'resetting.request.username'|trans }}" required autofocus>

    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'resetting.request.submit'|trans }}</button>
</form>
