{% extends 'AppBundle::body.html.twig' %}

{% block content %}

    <div id="div-fosuser" class="text-center d-flex align-items-center">
        <div id="form-fosuser" class="mx-auto w-100 m-4">
            <img class="mb-4" src="{{ asset('assets/logo-80px.png') }}" alt="">

            {{ form_start(form) }}
                <p>{{ message }}</p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
